@model IEnumerable<SocialMediaSummitApplication.Models.SignUp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SignUpCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostUrl1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostUrl2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostUrl3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SignUpCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostUrl1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostUrl2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostUrl3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SignUpId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SignUpId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SignUpId })
        </td>
    </tr>
}

</table>
